
<div class="flash-container">
    <% if(success && success.length) { %>
        <div id="flash-success" class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <!-- Progress bar -->
            <div class="progress">
                <div id="progress-bar-success" class="progress-bar"></div>
            </div>
        </div>
    <% } %>

    <% if(error && error.length) { %>
        <div id="flash-error" class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <!-- Progress bar -->
            <div class="progress">
                <div id="progress-bar-error" class="progress-bar"></div>
            </div>
        </div>
    <% } %>
    </div>

