<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br><br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3"> 
            <label for="title" class="form-label">Title</label>
<input placeholder="Add a catchy title" name="listing[title]" class="form-control" required >
<div class="invalid-feedback">Please enter the title</div>
</div>

<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control" required ></textarea>
    <div class="invalid-feedback">Please enter a short description</div>
</div>


<div class="mb-3">
    <label for="image" class="form-label" >Upload Listing Image</label>
    <input placeholder="enter image URL/Link" name="listing[image]"   class="form-control" type="file" required>  
</div>

<div class="mb-3">
    <label class="form-label">Choose categories:</label>
    <div>
      <input type="checkbox" id="rooms" name="listing[category][]" value="rooms" onchange="updateHiddenInput()" >
      <label for="rooms">Rooms</label>
    </div>
    <div>
      <input type="checkbox" id="mountains" name="listing[category][]" value="mountains" onchange="updateHiddenInput()">
      <label for="mountains">Mountains</label>
    </div>
    <div>
      <input type="checkbox" id="iconicCities" name="listing[category][]" value="iconic cities" onchange="updateHiddenInput()">
      <label for="iconicCities">Iconic Cities</label>
    </div>
    <div>
      <input type="checkbox" id="castles" name="listing[category][]" value="castles" onchange="updateHiddenInput()">
      <label for="castles">Castles</label>
    </div>
    <div>
      <input type="checkbox" id="amazingPools" name="listing[category][]" value="amazing pools" onchange="updateHiddenInput()">
      <label for="amazingPools">Amazing Pools</label>
    </div>
    <div>
      <input type="checkbox" id="camping" name="listing[category][]" value="camping" onchange="updateHiddenInput()">
      <label for="camping">Camping</label>
    </div>
    <div>
      <input type="checkbox" id="farms" name="listing[category][]" value="farms"  onchange="updateHiddenInput()">
      <label for="farms">Farms</label>
    </div>
    <div>
      <input type="checkbox" id="arctic" name="listing[category][]" value="arctic" onchange="updateHiddenInput()">
      <label for="arctic">Arctic</label>
    </div>
    <div>
      <input type="checkbox" id="domes" name="listing[category][]" value="domes" onchange="updateHiddenInput()">
      <label for="domes">Domes</label>
    </div>
    <div>
      <input type="checkbox" id="boats" name="listing[category][]" value="boats" onchange="updateHiddenInput()">
      <label for="boats">Boats</label>
    </div> 
    <div>
      <input type="checkbox" id="treehouses" name="listing[category][]" value="treehouses" onchange="updateHiddenInput()">
      <label for="treehouses">Treehouse</label>
    </div>  
    <div>
      <input type="checkbox" id="cabin" name="listing[category][]" value="cabin" onchange="updateHiddenInput()">
      <label for="cabin">Cabin</label>
    </div>  
    <div>
      <input type="checkbox" id="national park" name="listing[category][]" value="national park" onchange="updateHiddenInput()">
      <label for="national park">National park</label>
    </div>  
    <div>
      <input type="checkbox" id="beach" name="listing[category][]" value="beach" onchange="updateHiddenInput()">
      <label for="beach">Beach</label>
    </div>   
<input name="categorySelected" id="categorySelected" value="" required style="position: absolute; left: -9999px;">
<div class="invalid-feedback" id="categoryFeedback">Select at least one category</div>
</div>

<div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label" >Price</label>
        <input placeholder="Enter price per night" name="listing[price]"  class="form-control" required > 
        <div class="invalid-feedback">Price should be valid</div>
    </div>
    
    
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label" >Country</label>
        <input placeholder="Enter your country" name="listing[country]"  class="form-control" required>
        <div class="invalid-feedback">Country should be valid</div>
    </div>
    
</div>


<div class="mb-3">
    <label for="location" class="form-label" >Location</label>
    <input placeholder="City, State" name="listing[location]"  class="form-control" required>
    <div class="invalid-feedback">Location should be valid</div>
</div>

<br><br>
<button id="addListingBtn" class="btn btn-dark add-btn" 
    style="opacity: <% if (!isLoggedIn) { %> 0.5 <% } else { %> 1 <% } %>;">
    Add
</button>


<br><br><br>
    </form>
</div>
</div>
<script src="/js/script.js"></script>
<script>

document.getElementById('addListingBtn').addEventListener('click', function(event) {
        <% if (!isLoggedIn) { %>
            event.preventDefault(); // Prevent default action
            alert('Please log in or sign up to create a listing.'); // Show alert
            this.style.opacity = '0.5'; // Reduce opacity on click
        <% } %>
    });

function updateHiddenInput() {
  const checkboxes = document.querySelectorAll('input[name="listing[category][]"]');
  const hiddenInput = document.getElementById('categorySelected');
  const categoryFeedback = document.getElementById('categoryFeedback');

  // Check if any checkbox is checked
  const isChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
  
  // If checked, set hidden input value to '1', else set it to ''
  hiddenInput.value = isChecked ? '1' : '';
}


</script>