<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelHaven</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="easter-egg-message">
        <h1>🎉 You've Found the Easter Egg! 🎉</h1>
        <p><b>Congratulations! You discovered a hidden surprise on our website.</b></p>
        <p>An Easter egg is a message, image, or feature hidden in software, a video game, a film, or another—usually electronic—medium. The term used in this manner was coined around 1979 by Steve Wright, the then-Director of Software Development in the Atari Consumer Division, to describe a hidden message in the Atari video game Adventure, in reference to an Easter egg hunt.</p>
        <p><b>Thank you for exploring TravelHaven.</b></p>
        <button class="back-button" onclick="goBack()">Back to Last Page</button>
        
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
