body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

/* html, body {
    height: 100%;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  } */

  /* main {
    flex: 1; 
    padding: 1rem;
   }   */




.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}



.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.625rem 1rem; /* Adjust padding for better spacing (10px is ~0.625rem, 15px is ~1rem) */
    color: #222222 !important; /* Text color */
    transition: background-color 0.3s, border 0.3s; /* Smooth transition */
    border-radius: 1.25rem; /* Rounded edges for pill shape */
}

@media(max-width: 300px){
    .nav-title{
        display: none;
    }
    
}

.nav-link:hover {
    background-color: rgba(128, 128, 128, 0.2); /* Light grey background */
    /* border: 1px solid grey; Grey border */
}


@media (max-width: 768px) {
    .navbar-collapse {
        background-color: white; /* Light gray background */
        opacity: 0.95;
        border-bottom-left-radius: 10px; /* Rounded bottom left corner */
        border-bottom-right-radius: 10px; /* Rounded bottom right corner */
        border-bottom: 1px solid #ccc; /* Light gray border at the bottom */
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        z-index: 1000; /* Ensure it appears above other elements */
        padding: 0.3rem;
        padding-top: 1rem;
        margin-top: 25px;
    }

    .navbar-nav .nav-link {
        color: #000000; /* Text color */
        margin-left: 1rem;
        padding: 0.6rem 0.7rem;
    
      }

      .navbtn {
        margin-left: 1rem;
        padding:0
      }
      
      .navbar-nav .nav-item {
        margin: 0.3125rem 0; /* Space between items */
        padding: 0.625rem; /* Space inside each item */
        border-bottom: 1px solid #ccc; /* Optional: Add a border between items */
      }
}

@media(max-width: 300px) {
    .navbar-collapse{
        margin-top: 29px;
    }
}

/* Website Icon */
  
    .icon {
      width: 2.2rem;             /* Default size */
      height: auto;            /* Maintain aspect ratio */
      object-fit: cover;       /* Ensure the image covers the given dimensions */
      border-radius: 0.625rem; 
      margin-left: 1rem;
  }

  @media (max-width: 992px ){
 .icon{
    margin-left: 0.6rem;
 }
  }

  @media (max-width:776px ){
    .icon{
   margin-left: 0rem;
    }
  }



  
  @media (max-width: 480px) {
      .icon {
          width: 2rem;         /* Even smaller for small screens */
      }
  }
  


/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}


.f-info-links a:hover{
    text-decoration: underline;   
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}



/* Cards */
/* Override Bootstrap's default row and column behavior */
.custom-row {
    display: block; /* Remove flexbox layout from row */
    margin: 0; /* Reset any Bootstrap row margins */
}

/* Custom styling for your grid layout */
.custom-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns on large screens */
    grid-gap: 1rem; /* Add space between the grid items */
}

/* Optional: Adjust margins or paddings as per your needs */
.custom-cols > div {
    margin-bottom: 2rem; /* Add space between items */
}

/* Adjust columns for different screen sizes */
@media (max-width: 768px) {
    .custom-cols {
        grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
    }
}

@media (max-width: 576px) {
    .custom-cols {
        grid-template-columns: 1fr; /* One column on small screens */
    }
}



.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.card-img-top {
 border-radius: 1rem !important;
 width: 100% !important;
 object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
    
}

/* Card Effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.1 !important;
    background-color: #ebebeb !important;
}

/* New Page */
.revDelBtn {
    margin-left: 0.5rem;
   
}

.revComm {
    margin-left: 0.5rem;
}

.btns{
    display: flex;
    justify-content: flex-start;
     gap: 1rem;
    margin-top: 1rem; 
 }

/* Define custom styles for buttons */
.btn-custom {
    padding: 0.5rem 1rem; /* Padding for responsiveness */
    font-size: 0.875rem; /* Font size to ensure text fits well */
    border-radius: 0.25rem; /* Rounded corners */
}
/* h */

.btn {
    flex: 1; /* Ensure buttons take up equal space */
    padding: 0.5rem 1rem; /* Adjust padding for better visibility */
    text-align: center;
    font-size: 1rem; /* Adjust font size as needed */
}

.delete-btn {
    flex: 1; /* Equal width for both buttons */
    flex-shrink: 0; /* Prevent buttons from shrinking */
    min-width: 5rem;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    flex: 1;
    flex-shrink: 0; 
    min-width: 5rem;
} 

@media (max-width: 300px) {
    .btns {
      flex-direction: column; /* Stack buttons vertically */
      align-items: center; /* Center align buttons */
    }
  
    .edit-btn,
    .deletebtn {
      width: auto; /* Allow auto width for smaller screens */
    }
  }

  @media (max-width: 165px) {
    .edit-btn,
    .deletebtn {
      font-size: 0.1rem; /* Decrease font size */
      padding: 0.2rem 0.3rem; /* Decrease padding */
    }
  }

.edit-btn2 {
    background-color: #fe424d !important;
    border: none !important;
    min-width: 6rem; /* Minimum width of the button */
    max-width: 12rem; /* Maximum width of the button */
    width: auto; /* Adjusts to the content size */
    display: inline-block; /* Ensures the button stays inline */
    margin: 0 auto; /* Center the button if possible */
}


/* Show Page */

.show-img{
    height: 50vh;
}


.show-card{
    padding-left: 0;
    padding-right: 0;
}



/* Map */

.mapboxgl-popup {
    max-width: 300px !important;
    padding: 1.5rem !important;/* Set a max width for the popup */
    font-size: 1rem !important;
}

.mapboxgl-popup-close-button {
    display: none !important; /* Hides the close button */
}

@media (max-width: 768px) {
    .mapboxgl-popup {
        max-width: 80% !important; /* Make it wider on smaller screens */
        /* overflow: visible; */
    }
}

@media (max-width: 480px) {
    .mapboxgl-popup {
        max-width: 90%; /* Almost full width on very small screens */
        font-size: 0.7rem; /* Slightly smaller font size */
    }

    .mapboxgl-popup-content {
        padding: 10px; /* Less padding for smaller screens */
    }
}

@media (max-width: 360px) {
    .mapboxgl-popup{
        visibility: hidden;
    }
}

#map {
    height: 60vh; /* Default height */
    width: 100%;   /* Default width */  
    overflow: visible;
  }
  
  @media (max-width: 768px) {
    #map {
      height: 50vh; /* Smaller height for medium screens */
      width: 100%;  /* Full width on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    #map {
      height: 40vh; /* Even smaller height for very small screens */
    }
  }

  

    /* Search.ejs and Index.ejs */

    #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
        border-bottom: 0.1rem solid transparent; /* Add transparent border by default */
        padding-bottom: 0.1rem; /* Add padding to compensate for border space */
    }

     .filter:hover {
        opacity: 1;
        cursor: pointer;
        border-bottom: 0.1rem solid rgba(128, 128, 128, 0.4); /* Black bottom border */
    background-color: transparent; /* Transparent background */
    padding-bottom: 0rem; /* Adjust space below the icon */
    
    } 

    .filter p {
        font-size: 0.8rem;
    }

    .selected i {
    color: black; /* Changes the icon to black */
}

.selected {
    
    border-bottom: 0.1rem solid black !important; /* Black bottom border */
    background-color: transparent; /* Transparent background */
    opacity: 1; /* Full opacity for the selected icon */
    transition: border-bottom 0.3s ease;
    padding-bottom: 0.1rem; /* Keep padding consistent */
}


    .tax-info {
        display: none;
    }

    
    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: auto; /* Allow height adjustment */
        padding: 1rem;
        display: flex;
        align-items: center;
        max-width: 20rem; /* Adjust max-width as needed */
        margin: 0 auto; /* Center it within its container */
    }
    
    .form-container {
        display: flex;
        justify-content: space-between; /* Maintain space between filters and toggle */
        align-items: center;
        flex-wrap: wrap; /* Allow wrapping for responsiveness */
       
    }
    
    /* Media query adjustments */
    @media (max-width: 48rem) { /* Approximately 768px */
        .form-container {
            flex-direction: column; /* Stack items vertically */
            align-items: flex-start; /* Align items to the left */
        }
    
        .tax-toggle {
            margin-top: 1rem; /* Space between the filters and toggle switch */
            width: auto; /* Allow it to fit the content */
            text-align: left; /* Align text to the left */
        }
    
        #filters {
            margin-bottom: 1rem; /* Space below the filters */
        }
    }
    

   
    

        /* Flexbox container to align form and tax-toggle side by side */
        .form-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* Customizing the switch when it's ON */
.form-switch .form-check-input:checked {
    background-color: black !important; /* Make the switch background black when ON */
    border-color: black !important; /* Make the border black */
    box-shadow: none !important; /* Remove any shadow */
}

/* Customizing the thumb (circle) when switch is ON */
.form-switch .form-check-input:checked::before {
    background-color: white !important; /* Thumb color when ON */
    transform: translateX(1.5rem) !important; /* Move thumb to the right */
}

/* Customizing the switch when it's OFF */
.form-switch .form-check-input {
    background-color: white !important; /* Switch background when OFF */
    border-color: black !important; /* Switch border color when OFF */
    box-shadow: none !important; /* Remove shadow */
}

/* Customizing the thumb (circle) when switch is OFF */
.form-switch .form-check-input::before {
    background-color: black !important; /* Thumb color when OFF */
    width: 1rem !important; /* Thumb size */
    height: 1rem !important;
    transform: translateX(0) !important; /* Thumb position on the left */
    transition: background-color 0.2s ease, transform 0.2s ease !important; /* Smooth transition */
}

/* Remove focus outline */
.form-switch .form-check-input:focus {
    box-shadow: none !important;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-message-container {
    display: flex;                     /* Use flexbox */
    justify-content: center;           /* Center horizontally */
    align-items: center;               /* Center vertically */
    height: auto;                    /* Full viewport height */
    text-align: center;                /* Center text */
    margin-top: 50px;                 /* Add margin-top to create space above */
}

.center-message {
    font-size: 2rem;                 /* Optional: Increase font size */
    color: #444;                       /* Optional: Change text color */
    padding: 1.25rem; 
}

/* checkbox style */

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #000;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
  
  input[type="checkbox"]:checked {
    background-color: black;
    position: relative;
  }
  
  input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 0.125rem;
    left: 0.3125rem;
    width: 0.375rem;
    height: 0.75rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  /* Search Button */

.search-btn i {
    display: inline;
    margin-right: 0.5rem;
}


  form .search-btn {
    background-color: #fe4248;
    color: #fff;
    border-radius: 0 1.5rem 1.5rem 0; /* Pill shape */
    padding: 0.5rem 1rem; /* Adjust padding */
    border: 1px solid #fe4248; /* Remove default border */
    border-left: none !important;
    transition: box-shadow 0.3s ease, backgroond-color 0.3s; /* Smooth transition */
    margin-left:0 !important;
    position: relative; /* Needed for tooltip positioning */
    box-shadow: 0 0.20rem 0.20rem rgba(0, 0, 0, 0.2); /* Add shadow */
}

@keyframes click-shadow {
    0% {
        box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.3); /* Larger shadow on click */
    }
    100% {
        box-shadow: 0 0.20rem 0.20rem rgba(0, 0, 0, 0.2); /* Revert to original shadow */
    }
}

/* When the button is clicked (focused), trigger the animation */
form .search-btn:focus {
    animation: click-shadow 0.3s ease-in-out; /* Run the shadow animation */
}


form .search-btn:hover {
    background-color: #fe2a2d; /* Darker on hover */
     border: 1px solid #fe4248 !important; /* Remove default border */
    border-left: none !important;
    color: #fff;
}


form .search-inp {
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    padding: 0.5rem 4rem; /* Padding for input */
    font-size: 1rem;
    border-right: none;
    margin-right: 0 !important;
    outline: none !important; /* Remove outline */
    /* box-shadow: none !important; Remove default box shadow */
    box-shadow: 0 0.20rem 0.20rem rgba(0, 0, 0, 0.2) !important; /* Add shadow */
    transition: box-shadow 0.3s ease; 


    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Darker text color for contrast */
    border: 1px solid #ccc; /* Thin black border */
    border-right: none;
    
}

.search-inp:focus {
    background-color: #f5f5f5 !important; /* Maintain background color when focused */
    color: #333 !important; /* Maintain text color */
    border: 1px solid #ccc !important; /* Change border color on focus if needed */
    border-right: none !important;
}

form .search-btn:focus,
form .search-btn:active {
    background-color: #fe4248 !important; /* Keep the same color on focus and active */
    outline: none; /* Remove outline */
    box-shadow: none; /* Remove box shadow */
    color: #fff !important;
    border: 1px solid #fe4248 !important; /* Remove default border */
    border-left: none !important;
}


.d-flex {
    display: flex;
}

@media (max-width: 768px) { /* Adjust for smaller screens */
    form .search-btn {
        padding: 0.4rem 0.6rem; /* Smaller padding */
        font-size: 0.875rem; /* Smaller font size */
    }

    form .search-inp {
        padding: 0.4rem 0.8rem; /* Smaller padding */
        font-size: 0.875rem; /* Smaller font size */
    }
}

/* Flash Messages */

.alert {
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2); /* Soft shadow */
}

/* Ensure progress bar is not affected by Bootstrap alert styling */
.alert .progress {
    height: 0.1875rem; /* Thin progress bar */
    background-color: #e9ecef;
    margin-top: 0.3125rem; /* Adjust for a smaller gap */
    border-radius: 1px;
    overflow: hidden;
    padding: 0; /* Remove any padding */
}

.alert .progress-bar {
    height: 100%;
    background-color: #28a745; /* Green for success */
    width: 100%;
    transition: width linear;
}

#progress-bar-error {
    background-color: #dc3545; /* Red for error */
}

/* Reduce the size of the close button inside alerts */
/* Reduce the size of the close button inside alerts and remove box shadow */
.alert .btn-close {
    width: 0.75em;  /* Smaller width */
    height: 0.75em; /* Smaller height */
    padding: 0.25em; /* Adjust padding to make the button smaller */
    font-size: 0.75rem; /* Reduce font size for the 'x' icon */
    line-height: 1;  /* Ensure the icon is vertically centered */
    box-shadow: none !important; /* Forcefully remove the box shadow */
    outline: none !important;    /* Remove any outline */
    /* background: transparent !important; Ensure no background color */
    /* border: none !important; Remove any border */
}

/* Easter Egg Button */.easter-egg-btn,.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    background-color: #000; /* Black button color */
    color: white; /* Text color */
    padding: 0.5rem 1rem; /* Default padding */
    border-radius: 50px; /* Pill shape */
    font-size: 0.8rem; /* Default font size */
    text-decoration: none; /* Remove underline */
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, opacity 0.5s ease-in-out; /* Smooth transition */
    z-index: 1000; /* Ensure it's on top */
    cursor: pointer;
}

.easter-egg-btn{
    z-index: 1100 !important;
}

.back-to-top,.easter-egg-btn:hover {
    background-color: #333; /* Darker shade on hover */
}

/* Media Query for Smaller Screens */
@media (max-width: 480px) {
    .back-to-top,.easter-egg-btn {
   display:none !important;
    }
}

.easter-egg-message {
    text-align: center;
    margin: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.easter-egg-message h1 {
    color: #fe4248;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fe4248;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border:none;
}

.back-button:hover {
    background-color: #e3363b;
    border: none;
}


/* Privacy Image */

.responsive-image {
    width: 60%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

/* Media Query for screens smaller than 740px */
@media (max-width: 740px) {
    .responsive-image {
        width: 60%; /* Reduce width to 80% */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Media Query for screens smaller than 480px */
@media (max-width: 480px) {
    .responsive-image {
        width: 60%; /* Reduce width to 60% */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Options button(logout) */

.circular-button {
    display: inline-flex;             /* Use flexbox for centering */
    justify-content: center;         /* Center content horizontally */
    align-items: center;             /* Center content vertically */
    width: 2.5rem;                   /* Set width */
    height: 2.5rem;                  /* Set height */
    border-radius: 50%;              /* Make it circular */
    background-color: #fe4248;      /* Background color */
    color: white;                    /* Text color */
    border: none;                    /* Remove default border */
    font-size: 1.25rem;              /* Font size */
    font-weight: bold;               /* Font weight */
    cursor: pointer;                 /* Change cursor on hover */
    transition: background-color 0.3s; /* Smooth hover effect */
}



/* Optionally, customize padding and appearance of the list-group-item */
#optionsCard .list-group-item {
    padding: 10px;
    cursor: pointer;
}

/* Scoped styles for #optionsCard to avoid affecting other Bootstrap components */
#optionsCard {
    width: 5rem ;
    position: absolute;
    top: 100%; /* Position below the button */
    right: 0; /* Align card to the right edge of the button */
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}

@media (max-width: 768px) {
    #optionsCard {
        width: 5rem ;
        position: absolute;
        top: 100%; /* Position below the button */
        left: 0; /* Align card to the right edge of the button */
        z-index: 1000;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
    }
    
}

/* Scoped styles for list items within the #optionsCard */
#optionsCard .list-group-item {
    padding: 0.5rem;
    cursor: pointer;
}

#optionsCard .list-group-item:hover {
    background-color: #f0f0f0; /* Light hover effect */
}

#optionsCard a{
    text-decoration: none;
    color: black
}







